

.BackMain {
    font-family: var(--MyCardBackFont);
    border-right: var(--LineCutBack) solid var(--ListColor);
    border-bottom: var(--LineCutBack) solid var(--ListColor);
    height: 100%;
    width: 100%;
    position: relative;
    white-space: pre;
    overflow: hidden;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    svg {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .Num1 {
        font-family: var(--Num1Font);
        position: absolute;
        top: var(--Number1V);
        left: var(--Number1H);
        font-size: var(--Number1Kegl);
        color: var(--Number1);
        transform: rotate(var(--Degree1));
        transform-origin: center;
    }

    .Num2 {
        font-family: var(--Num2Font);
        transform: rotate(var(--Degree2));
        transform-origin: center;
        position: absolute;
        top: var(--Number2V);
        left: var(--Number2H);
        font-size: var(--Number2Kegl);
        color: var(--Number2);
    }

    .Num3 {
        font-family: var(--Num3Font);
        transform: rotate(var(--Degree3));
        transform-origin: center;
        position: absolute;
        top: var(--Number3V);
        left: var(--Number3H);
        font-size: var(--Number3Kegl);
        color: var(--Number3);
    }

    .Num4 {
        font-family: var(--Num4Font);
        transform: rotate(var(--Degree4));
        transform-origin: center;
        position: absolute;
        top: var(--Number4V);
        left: var(--Number4H);
        font-size: var(--Number4Kegl);
        color: var(--Number4);
    }
}

input {
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    width: inherit;
    height: inherit;
}

textarea {
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    width: inherit;
    min-height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer2H) - var(--CardPer1H) - var(--CardOptionHeigth) - var(--CardDownTextSize));
    resize: none;
    outline: none !important;
}

.Main {
    font-family: var(--MyCardFaceFont);
    line-height: 1;
    overflow: hidden;
    white-space: pre;
    width: 100%;
    height: 100%;
    background-color: var(--CardColorBackcground);
    border-right: var(--LineCut) solid var(--ListColor);
    border-bottom: var(--LineCut) solid var(--ListColor);
    padding: var(--CardPaddingT) var(--CardPaddingR) var(--CardPaddingB) var(--CardPaddingL);

    .Zagolovok {
        font-family: var(--ZagFont);
        overflow: hidden;
        background-color: var(--CardZagolovokBackgroundColor);
        border-top-right-radius: var(--CardZagolovok┐);
        border-top-left-radius: var(--CardZagolovok┌);
        border-bottom-right-radius: var(--CardZagolovok┘);
        border-bottom-left-radius: var(--CardZagolovok└);
        height: var(--CardZagolovokTextSize);
        font-size: var(--CardZagolovokTextFont);
        text-align: var(--CardZagolovokTextAlign);
        color: var(--CardZagolovokTextColor);
        padding: 0 var(--CardZagolovokTextPadding);
        display: flex;
        justify-content: var(--CardZagolovokTextAlign);
        align-items: center;
    }

    .School {
        font-family: var(--Pol1Font);
        width: 100%;
        overflow: hidden;
        height: var(--CardPer1H);
        font-size: var(--CardPer1TextFont);
        color: var(--CardPer1TextColor);
        padding: 0 var(--CardPer1TextPadding);
        background-color: var(--CardPer1BackgroundColor);
        display: flex;
        justify-content: var(--CardPer1TextAlign);
        align-items: center;
        text-align: var(--CardPer1TextAlign);
    }

    .Per1 {
        font-family: var(--Pol2Font);
        white-space: pre;
        overflow: hidden;
        width: 100%;
        color: var(--CardPer2TextColor);
        padding: 0 var(--CardPer2TextPadding);
        height: var(--CardPer2H);
        font-size: var(--CardPer2TextFont);
        background-color: var(--CardPer2BackgroundColor);
        justify-content: var(--CardPer2TextAlign);
        display: flex;
        align-items: center;
        text-align: var(--CardPer2TextAlign);
    }

    .BigDescription {
        height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer1H) - var(--CardDownTextSize));
        display: flex;

        .Per1 {
            padding: var(--CardPer2TextPadding) 0;
            height: 100%;
            width: var(--CardPer2H);

            .A {
                transform: rotate(270deg);
            }
        }

        .AllText {
            width: calc(100% - var(--CardPer2H) - var(--CardOptionHeigth));
            height: 100%;
        }
    }

    .AllText {
        border-top-right-radius: var(--CardAllText┐);
        border-top-left-radius: var(--CardAllText┌);
        border-bottom-right-radius: var(--CardAllText┘);
        border-bottom-left-radius: var(--CardAllText└);
        white-space: pre-wrap;
        width: 100%;
        height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer2H) - var(--CardPer1H) - var(--CardOptionHeigth) - var(--CardDownTextSize));
        background-color: var(--CardMainBackgroundColor);
        overflow: hidden;

        .TextSizeControll {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .MainText {
                font-family: var(--TextFont);
                line-height: var(--LineHeight);
                width: 100%;
                color: var(--CardMainTextColor);
                text-align: var(--CardMainTextTextAlign);
                padding: var(--CardMainTextTextPaddingT) var(--CardMainTextTextPaddingR) var(--CardMainTextTextPaddingB) var(--CardMainTextTextPaddingL);
            }

            .Dop {
                .DopText {
                    font-family: var(--TextDopFont);
                    line-height: var(--LineHeight);
                    color: var(--CardDopTextColor);
                    width: 100%;
                    text-align: var(--CardDopTextTextAlign);
                    background-color: var(--CardDopBackgroundColor);
                    padding: var(--CardDopTextTextPaddingT) var(--CardDopTextTextPaddingR) var(--CardDopTextTextPaddingB) var(--CardDopTextTextPaddingL);
                }

                .Per2 {
                    font-family: var(--Pol3Font);
                    white-space: pre;
                    overflow: hidden;
                    width: 100%;
                    color: var(--CardPer3TextColor);
                    padding: 0 var(--CardPer3TextPadding);
                    height: var(--CardPer3H);
                    font-size: var(--CardPer3TextFont);
                    background-color: var(--CardPer3BackgroundColor);
                    justify-content: var(--CardPer3TextAlign);
                    display: flex;
                    align-items: center;
                    text-align: var(--CardPer3TextAlign);
                }
            }
        }
    }

    .Options41ver {
        background-color: var(--CardOptionPalki);
        width: 100%;
        display: flex;
        flex-direction: column;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
    }

    .Options14ver {
        background-color: var(--CardOptionPalki);
        width: var(--CardOptionHeigth);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .Options41hor {
        background-color: var(--CardOptionPalki);
        width: 100%;
        display: flex;
        flex-direction: row;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
    }

    .Options22 {
        display: flex;
        flex-direction: column;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
        background-color: var(--CardOptionPalki);

        .Options2hor {
            display: flex;
            justify-content: space-between;
            height: calc(var(--CardOptionHeigth)/2 - var(--CardOptionBorder)/2);
            width: 100%;
            overflow: hidden;
        }
    }

    .OptionZagolovok {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .Options1d1Line {
        display: flex;
        flex-direction: row;
        justify-content: start;
        height: calc(var(--CardOptionHeigth)/4 - var(--CardOptionBorder) / 4 * 3);
        width: 100%;

        div {
            width: auto;
        }
    }

    .Options1d2Line {
        div {
            width: auto;
        }

        display: flex;
        flex-direction: row;
        height: calc(var(--CardOptionHeigth)/2 - var(--CardOptionBorder) / 2);
        width: calc(50% - var(--CardOptionBorder)/2);
    }

    .Options1d1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: calc(25% - var(--CardOptionBorder) / 4 * 3);
    }

    .Options1d2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(50% - var(--CardOptionBorder) / 2);
    }

    .Options1d4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(25% - var(--CardOptionBorder) / 4 * 3);
    }

    .OptionText {
        padding: 0 var(--CardOptionTextTextPadding);
        justify-content: var(--CardOptionTextTextAlign);
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .OptionText1 {
        height: var(--CardOptionTextTextSize1);
    }

    .OptionText2 {
        height: var(--CardOptionTextTextSize2);
    }

    .OptionText3 {
        height: var(--CardOptionTextTextSize3);
    }

    .OptionText4 {
        height: var(--CardOptionTextTextSize4);
    }

    .DowtText {
        font-family: var(--DownFont);
        height: var(--CardDownTextSize);
        font-size: var(--CardDownTextFont);
        color: var(--CardDownTextColor);
        text-align: var(--CardDownTextTextAlign);
        display: flex;
        align-items: end;
        padding: 0 var(--CardDownTextTextPadding);
        width: 100%;

        div {
            width: 100%;
        }
    }

    .BcgrOpt1 {
        border-top-right-radius: var(--CardOption1┐);
        border-top-left-radius: var(--CardOption1┌);
        border-bottom-right-radius: var(--CardOption1┘);
        border-bottom-left-radius: var(--CardOption1└);
        background-color: var(--CardOption1Background);
        color: var(--CardOption1ZColor);
        font-size: var(--CardOptionZagolovokTextFont1);
        font-family: var(--Opt1ZagolovokFont);

        .OptionZagolovok {
            padding: 0 var(--CardOption1ZagolovokTextPaddingR) 0 var(--CardOption1ZagolovokTextPaddingL);

            div {
                text-align: var(--CardOption1ZagolovokTextAlign);
                width: 100%;
            }
        }
    }

    .BcgrOpt2 {
        border-top-right-radius: var(--CardOption2┐);
        border-top-left-radius: var(--CardOption2┌);
        border-bottom-right-radius: var(--CardOption2┘);
        border-bottom-left-radius: var(--CardOption2└);
        background-color: var(--CardOption2Background);
        color: var(--CardOption2ZColor);
        font-size: var(--CardOptionZagolovokTextFont2);
        font-family: var(--Opt2ZagolovokFont);

        .OptionZagolovok {
            padding: 0 var(--CardOption2ZagolovokTextPaddingR) 0 var(--CardOption2ZagolovokTextPaddingL);

            div {
                text-align: var(--CardOption2ZagolovokTextAlign);
                width: 100%;
            }
        }
    }

    .BcgrOpt3 {
        border-top-right-radius: var(--CardOption3┐);
        border-top-left-radius: var(--CardOption3┌);
        border-bottom-right-radius: var(--CardOption3┘);
        border-bottom-left-radius: var(--CardOption3└);
        background-color: var(--CardOption3Background);
        color: var(--CardOption3ZColor);
        font-size: var(--CardOptionZagolovokTextFont3);
        font-family: var(--Opt3ZagolovokFont);

        .OptionZagolovok {
            padding: 0 var(--CardOption3ZagolovokTextPaddingR) 0 var(--CardOption3ZagolovokTextPaddingL);

            div {
                text-align: var(--CardOption3ZagolovokTextAlign);
                width: 100%;
            }
        }
    }

    .BcgrOpt4 {
        border-top-right-radius: var(--CardOption4┐);
        border-top-left-radius: var(--CardOption4┌);
        border-bottom-right-radius: var(--CardOption4┘);
        border-bottom-left-radius: var(--CardOption4└);
        background-color: var(--CardOption4Background);
        color: var(--CardOption4ZColor);
        font-size: var(--CardOptionZagolovokTextFont4);
        font-family: var(--Opt4ZagolovokFont);

        .OptionZagolovok {
            padding: 0 var(--CardOption4ZagolovokTextPaddingR) 0 var(--CardOption4ZagolovokTextPaddingL);

            div {
                text-align: var(--CardOption4ZagolovokTextAlign);
                width: 100%;
            }
        }
    }

    .Option1TextColor {
        color: var(--CardOption1TColor);
        font-size: var(--CardOptionTextTextFont1);
        font-family: var(--Opt1TextFont);

        div {
            width: 100%;
            text-align: var(--CardOption1TextTextAlign);
            padding: 0 var(--CardOption1TextTextPaddingR) 0 var(--CardOption1TextTextPaddingL);
        }
    }

    .Option2TextColor {
        color: var(--CardOption2TColor);
        font-size: var(--CardOptionTextTextFont2);
        font-family: var(--Opt2TextFont);

        div {
            width: 100%;
            text-align: var(--CardOption2TextTextAlign);
            padding: 0 var(--CardOption2TextTextPaddingR) 0 var(--CardOption2TextTextPaddingL);
        }
    }

    .Option3TextColor {
        color: var(--CardOption3TColor);
        font-size: var(--CardOptionTextTextFont3);
        font-family: var(--Opt3TextFont);

        div {
            width: 100%;
            text-align: var(--CardOption3TextTextAlign);
            padding: 0 var(--CardOption3TextTextPaddingR) 0 var(--CardOption3TextTextPaddingL);
        }
    }

    .Option4TextColor {
        color: var(--CardOption4TColor);
        font-size: var(--CardOptionTextTextFont4);
        font-family: var(--Opt4TextFont);

        div {
            width: 100%;
            text-align: var(--CardOption4TextTextAlign);
            padding: 0 var(--CardOption4TextTextPaddingR) 0 var(--CardOption4TextTextPaddingL);
        }
    }
}