
.BookerlyBold {
    font-family: "BookerlyBold";
}
.BookerlyBoldItalic {
    font-family: "BookerlyBoldItalic";
}
.BookerlyDisplayBoldItalic {
    font-family: "BookerlyDisplayBoldItalic";
}
.BookerlyDisplay {
    font-family: "BookerlyDisplay";
}
.BookerlyItalic {
    font-family: "BookerlyItalic";
}
.BookerlyLightItalic {
    font-family: "BookerlyLightItalic";
}
.BookerlyLight {
    font-family: "BookerlyLight";
}
.Bookerly {
    font-family: "Bookerly";
}
.EtnaFreeFont {
    font-family: "EtnaFreeFont";
}
.GogonoCocoaMochiCyrillic {
    font-family: "GogonoCocoaMochiCyrillic";
}
.GULAGPavljenko {
    font-family: "GULAGPavljenko";
}
.HellasDustCyrillic {
    font-family: "HellasDustCyrillic";
}
.MorningBreezeBold {
    font-family: "MorningBreezeBold";
}
.MorningBreezeItalic {
    font-family: "MorningBreezeItalic";
}
.MorningBreezeLight {
    font-family: "MorningBreezeLight";
}
.MorningBreeze {
    font-family: "MorningBreeze";
}
.OldSoviet {
    font-family: "OldSoviet";
}
.SquareMeal {
    font-family: "SquareMeal";
}
.ZarubkaTypeRegular {
    font-family: "ZarubkaTypeRegular";
}
.ZaychikRegular {
    font-family: "ZaychikRegular";
}
.BackMain {
    height: 100%;
    width: 100%;
    position: relative;
    white-space: pre;
    img {
        height: 100%;
        width: 100%;   
    }
    svg {
        height: 100%;
        width: 100%;   
    }
    .Num1 {
        position: absolute;
        top: var(--Number1V);
        left: var(--Number1H);
        font-size: var(--Number1Kegl);
        color: var(--Number1);
    }
    .Num2 {
        position: absolute;
        top: var(--Number2V);
        left: var(--Number2H);
        font-size: var(--Number2Kegl);
        color: var(--Number2);
    }
    .Num3 {
        position: absolute;
        top: var(--Number3V);
        left: var(--Number3H);
        font-size: var(--Number3Kegl);
        color: var(--Number3);
    }
    .Num4 {
        position: absolute;
        top: var(--Number4V);
        left: var(--Number4H);
        font-size: var(--Number4Kegl);
        color: var(--Number4);
    }
}
.Round {
    svg {
        transform: rotate(90deg);
        transform-origin: 0% 0%;
        position: absolute;
        top: 0;
        left: calc((297mm - var(--ListPaddingT) - var(--ListPaddingB)) / var(--h));
        width: calc((210mm - var(--ListPaddingR) - var(--ListPaddingL)) / var(--w));
        height: calc((297mm - var(--ListPaddingT) - var(--ListPaddingB)) / var(--h));
        
    }
}
input {
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    width: inherit;
    height: inherit;
}
textarea {
    background-color: inherit;
    color: inherit;
    text-align: inherit;
    width: inherit;
    min-height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer2H) - var(--CardPer1H) - var(--CardOptionHeigth) - var(--CardDownTextSize));
    resize: none;
    outline: none !important;
}
.Main {
    line-height: 1;
    overflow:hidden;
    white-space: pre;
    width: 100%;
    height: 100%;
    background-color: var(--CardColorBackcground);
    border-right: var(--LineCut) solid var(--ListColor);
    border-bottom: var(--LineCut) solid var(--ListColor);
    padding: var(--CardPadding);
    .Zagolovok {
        overflow: hidden;
        background-color: var(--CardZagolovokBackgroundColor);
        border-top-right-radius: var(--CardZagolovok┐);
        border-top-left-radius: var(--CardZagolovok┌);
        border-bottom-right-radius: var(--CardZagolovok┘);
        border-bottom-left-radius: var(--CardZagolovok└);
        height: var(--CardZagolovokTextSize);
        font-size: var(--CardZagolovokTextFont);
        text-align: var(--CardZagolovokTextAlign);
        color: var(--CardZagolovokTextColor);
        padding: 0 var(--CardZagolovokTextPadding);
        display: flex;
        justify-content: var(--CardZagolovokTextAlign);
        align-items: center;
    }
    .School {
        width: 100%;
        overflow:hidden;
        height: var(--CardPer1H);
        font-size: var(--CardPer1TextFont);
        color: var(--CardPer1TextColor);
        padding: 0 var(--CardPer1TextPadding);
        background-color: var(--CardPer1BackgroundColor);
        display: flex;
        justify-content: var(--CardPer1TextAlign);
        align-items: center;
        text-align: var(--CardPer1TextAlign);
    }
    .Per1 {
        white-space: pre;
        overflow:hidden;
        width: 100%;
        color: var(--CardPer2TextColor);
        padding: 0 var(--CardPer2TextPadding);
        height: var(--CardPer2H);
        font-size: var(--CardPer2TextFont);
        background-color: var(--CardPer2BackgroundColor);
        justify-content: var(--CardPer2TextAlign);
        display: flex;
        align-items: center;
        text-align: var(--CardPer2TextAlign);
    }
    .BigDescription {
        height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer1H) - var(--CardDownTextSize));
        display: flex;
        .Per1 {
            padding: var(--CardPer2TextPadding) 0;
            height: 100%;
            width: var(--CardPer2H);
            .A {
                transform: rotate(270deg);
            }
        }
        .AllText {
            width: calc(100% - var(--CardPer2H) - var(--CardOptionHeigth));
            height: 100%;
        }
    }
    .AllText {
        border-top-right-radius: var(--CardAllText┐);
        border-top-left-radius: var(--CardAllText┌);
        border-bottom-right-radius: var(--CardAllText┘);
        border-bottom-left-radius: var(--CardAllText└);
        white-space: pre-wrap;
        width: 100%;
        height: calc(100% - var(--CardZagolovokTextSize) - var(--CardPer2H) - var(--CardPer1H) - var(--CardOptionHeigth) - var(--CardDownTextSize));
        background-color: var(--CardMainBackgroundColor);
        overflow: hidden;
        .TextSizeControll {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .MainText {
                line-height: 10px;
                width: 100%;
                color: var(--CardMainTextColor);
                text-align: var(--CardMainTextTextAlign);
                padding: var(--CardMainTextTextPaddingT) var(--CardMainTextTextPaddingR) var(--CardMainTextTextPaddingB) var(--CardMainTextTextPaddingL);
            }
            .Dop {
                .DopText {
                    color: var(--CardDopTextColor);
                    width: 100%;
                    text-align: var(--CardDopTextTextAlign);
                    background-color: var(--CardDopBackgroundColor);
                    padding: var(--CardDopTextTextPaddingT) var(--CardDopTextTextPaddingR) var(--CardDopTextTextPaddingB) var(--CardDopTextTextPaddingL);
                }
                .Per2 {
                    white-space: pre;
                    overflow:hidden;
                    width: 100%;
                    color: var(--CardPer3TextColor);
                    padding: 0 var(--CardPer3TextPadding);
                    height: var(--CardPer3H);
                    font-size: var(--CardPer3TextFont);
                    background-color: var(--CardPer3BackgroundColor);
                    justify-content: var(--CardPer3TextAlign);
                    display: flex;
                    align-items: center;
                    text-align: var(--CardPer3TextAlign);
                }
            }
        }
    }
    .Options41ver {
        background-color: var(--CardOptionPalki);
        width: 100%;
        display: flex;
        flex-direction: column;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
    }
    .Options14ver {
        background-color: var(--CardOptionPalki);
        width: var(--CardOptionHeigth);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    .Options41hor {
        background-color: var(--CardOptionPalki);
        width: 100%;
        display: flex;
        flex-direction: row;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
    }
    .Options22 {
        display: flex;
        flex-direction: column;
        height: var(--CardOptionHeigth);
        justify-content: space-between;
        background-color: var(--CardOptionPalki);
        .Options2hor {
            display: flex;
            justify-content: space-between;
            height: calc(var(--CardOptionHeigth)/2 - var(--CardOptionBorder)/2);
            width: 100%;
            overflow: hidden;
        }
    }
    .OptionZagolovok {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    .Options1d1Line {
        display: flex;
        flex-direction: row;
        height: calc(var(--CardOptionHeigth)/4 - var(--CardOptionBorder) / 4 * 3);
        width: 100%;
        div {
            width: auto;
        }
    }
    .Options1d2Line {
        div {
            width: auto;
        }
        display: flex;
        flex-direction: row;
        height: calc(var(--CardOptionHeigth)/2 - var(--CardOptionBorder) / 2);
        width: calc(50% - var(--CardOptionBorder)/2);
    }
    .Options1d1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: calc(25% - var(--CardOptionBorder) / 4 * 3);
    }
    .Options1d2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(50% - var(--CardOptionBorder) / 2);
    }
    .Options1d4 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(25% - var(--CardOptionBorder) / 4 * 3);
    }
    .OptionText {
        padding: 0 var(--CardOptionTextTextPadding);
        justify-content: var(--CardOptionTextTextAlign);
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .OptionText1 {
        height: var(--CardOptionTextTextSize1);
    }
    .OptionText2 {
        height: var(--CardOptionTextTextSize2);
    }
    .OptionText3 {
        height: var(--CardOptionTextTextSize3);
    }
    .OptionText4 {
        height: var(--CardOptionTextTextSize4);
    }
    .DowtText {
        height: var(--CardDownTextSize);
        font-size: var(--CardDownTextFont);
        color: var(--CardDownTextColor);
        text-align: var(--CardDownTextTextAlign);
        display: flex;
        align-items: end;
        padding: 0 var(--CardDownTextTextPadding);
        width:100%;
        div {
            width: 100%;
        }
    }
    .BcgrOpt1 {
        border-top-right-radius: var(--CardOption1┐);
        border-top-left-radius: var(--CardOption1┌);
        border-bottom-right-radius: var(--CardOption1┘);
        border-bottom-left-radius: var(--CardOption1└);
        background-color: var(--CardOption1Background);
        color: var(--CardOption1ZColor);
        font-size: var(--CardOptionZagolovokTextFont1);
        .OptionZagolovok {
            div {
                text-align: var(--CardOption1ZagolovokTextAlign);
                padding: 0 var(--CardOption1ZagolovokTextPadding);
                width: 100%;
            }
        }
    }
    .BcgrOpt2 {
        border-top-right-radius: var(--CardOption2┐);
        border-top-left-radius: var(--CardOption2┌);
        border-bottom-right-radius: var(--CardOption2┘);
        border-bottom-left-radius: var(--CardOption2└);
        background-color: var(--CardOption2Background);
        color: var(--CardOption2ZColor);
        font-size: var(--CardOptionZagolovokTextFont2);
        .OptionZagolovok {
            div {
                text-align: var(--CardOption2ZagolovokTextAlign);
                padding: 0 var(--CardOption2ZagolovokTextPadding);
                width: 100%;
            }
        }
    }
    .BcgrOpt3 {
        border-top-right-radius: var(--CardOption3┐);
        border-top-left-radius: var(--CardOption3┌);
        border-bottom-right-radius: var(--CardOption3┘);
        border-bottom-left-radius: var(--CardOption3└);
        background-color: var(--CardOption3Background);
        color: var(--CardOption3ZColor);
        font-size: var(--CardOptionZagolovokTextFont3);
        .OptionZagolovok {
            div {
                text-align: var(--CardOption3ZagolovokTextAlign);
                padding: 0 var(--CardOption3ZagolovokTextPadding);
                width: 100%;
            }
        }
    }
    .BcgrOpt4 {
        border-top-right-radius: var(--CardOption4┐);
        border-top-left-radius: var(--CardOption4┌);
        border-bottom-right-radius: var(--CardOption4┘);
        border-bottom-left-radius: var(--CardOption4└);
        background-color: var(--CardOption4Background);
        color: var(--CardOption4ZColor);
        font-size: var(--CardOptionZagolovokTextFont4);
        .OptionZagolovok {
            div {
                text-align: var(--CardOption4ZagolovokTextAlign);
                padding: 0 var(--CardOption4ZagolovokTextPadding);
                width: 100%;
            }
        }
    }
    .Option1TextColor {
        color: var(--CardOption1TColor);
        font-size: var(--CardOptionTextTextFont1);
        div {
            width: 100%;
            text-align: var(--CardOption1TextTextAlign);
            padding: 0 var(--CardOption1TextTextPadding);
        }
    }
    .Option2TextColor {
        color: var(--CardOption2TColor);
        font-size: var(--CardOptionTextTextFont2);
        div {
            width: 100%;
            text-align: var(--CardOption2TextTextAlign);
            padding: 0 var(--CardOption2TextTextPadding);
        }
    }
    .Option3TextColor {
        color: var(--CardOption3TColor);
        font-size: var(--CardOptionTextTextFont3);
        div {
            width: 100%;
            text-align: var(--CardOption3TextTextAlign);
            padding: 0 var(--CardOption3TextTextPadding);
        }
    }
    .Option4TextColor {
        color: var(--CardOption4TColor);
        font-size: var(--CardOptionTextTextFont4);
        div {
            width: 100%;
            text-align: var(--CardOption4TextTextAlign);
            padding: 0 var(--CardOption4TextTextPadding);
        }
    }
}