.Main {
    font: menu;
    vertical-align: baseline;
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    background-color: var(--color2);
    .Window {
        height: 93%;
        width: 100%;
        overflow-y: hidden;
        overflow-y: hidden;
    }
    .Up {
        height: 7vh;
        width: 100%;
        background-color: var(--color1);
        border-bottom: 0.2vh solid var(--color6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1vh;
        .Slk {
            height: 100%;
            padding-top: 1vh;
            display: flex;
            .Icon1 {
                height: 5vh;
                width:8vh;
            }
            .Icon2 {
                height: 5vh;
                width: 5.5vh;
            }
            .Icon3 {
                height: 5vh;
                width: 8vh;
            }
        }
    }
    --color1: #E1CDC6;
    --color2: #F1E9E6;
    --color3: #F8E3CF;
    --color4: #F2B892;
    --color5: #F19A71;
    --color6: #AA796C;
    @media print {
        .Up {
            display: none;
        }
        .Window {
            height: auto;
        }
    }
}
.App {
  text-align: center;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
